<p id="notice"><%= notice %></p>

<h1>Songs</h1>
    <% @songs.each do |song| %>
        <p><%= link_to song.title, song.audio_url %> by <%= song.artist %></p>
    <% end %>

<br>

<%= link_to 'New Song', new_song_path %>
